name: DONIA CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Frontend build
        run: |
          cd frontend
          npm install
          npm run build

      - name: Backend install
        run: |
          cd backend
          npm install
